$color_1: #2196f3;
$color_2: #212121;
$color_3: #757575;
$color_4: black;
$color_5:#fff;
$color_6: #188ce8;
$color_7: rgba(117, 117, 117, 0.5);
$color_8:#2f303a;
$color_9:#f5f4fa;

$font-family_1: "Raleway", sans-serif;
$border-color_1: #2196f3;
$background-color_1: #ffffff;
$background-color_2: rgba(15, 3, 3, 0.2);
$background-color_3:rgba(0, 0, 0, 0.10);