.about {
  @media (max-width: 1200px){
    display: none;
  }
  
  &__titel {
    color: $color_2;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    margin: 0 0 50px 0;
  }
  &__img {
    list-style-type: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 100px 0;
  }

  &__img-item {
    img{
      width: 100%;
      height: 100%;
    }
    > p {
      box-sizing:border-box;
      text-align: center;
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 0;
      padding: 30px 16px;
      width: 100%;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
      background-color: $about_background-color;
      color: $color_5;
    }
    position: relative;
    margin: 10px;
    margin-bottom: 120px;
    object-fit: cover;
    width: 370px;
    height: 294px;
    box-shadow: 2px 2px 20px 5px rgba(47, 48, 58, 0.8);
  }
}
