.feature {
  padding: 95px 0;

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    margin-top: 10px;
    letter-spacing: 0.03em;
  }

  &__rectangle {
    background: $color_5;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    color:$color_3;
  }
  &__titel {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:$color_2;
    margin-top: 30px;
  }
  &__item {
    display: inline-block;
    width: 270px;
  }
  &__items {
    display: flex;
    color: $color_2;
    justify-content: space-between;
    flex-wrap: wrap;
   
  }
}
.feature__items{
  display: flex;
  flex-wrap: wrap;
}