.header {
  height: 70px;
  box-sizing: border-box;
  background-color: $background-color_4;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  @media (min-width: 320px){
    padding: 16px 0;
    height: 60px;
  }
  @media (min-width: 768px) {
    padding: 25px 0;
    height: 80px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    &__hamburger {
      @media (min-width: 320px) {
        display: flex;
        flex-direction: column;
        gap: 4px;
  
        span {
          transition: 0.5s;
          width: 24px;
  
          display: block;
          border: 2px solid #212121;
        }
      }
  
      @media (min-width: 768px) {
        display: none;
      }
  
      &--active {
        span:nth-child(1) {
          transform: rotate(45deg) translateY(5px);
        }
  
        span:nth-child(2) {
          display: none;
        }
  
        span:nth-child(3) {
          transform: rotate(-45deg) translateY(-5px);
        }
      }
    }
  &__logo {
    span {
      color: $color_1;
    }
    color: $color_4;
    font-family: $font-family_1;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    @media (min-width: 320px){
      font-size: 24px;
    }
    @media (min-width: 1200px) {
      font-size: 26px;
    }
  }
  &__link {
    position: relative;
    @include title($color_2, 14px);
    text-decoration: none;
    letter-spacing: 0.02em;
    color: $color_2;

    &:hover {
      color: $color_1;
    }
    &:hover {
      &::after {
        content: "";
        background: #2196f3;
        height: 4px;
        display: block;
        width: 100%;
        position: absolute;
        bottom: -27px;
      }
    }
  }
  &__contakts {
    @media (min-width: 320px) {
      display: none;
    }
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      width: 138px;
      
    @media (min-width: 1200px) {
      width: 333px;
      gap: 30px;
    }
    }
    &__link {
      @include title($color_3, 16px);
      letter-spacing: 0.02em;
      text-decoration: none;
      @media (min-width: 320px) {
        font-size: 12px;
      }
      @media (min-width: 1200px) {
        font-size: 14px;
      }
      &:hover {
        color: $color_1;
      }
    }
    gap: 30px;
    display: flex;
  }
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 90px;
    align-items: center;
    @media (min-width: 768px) {
      gap: 88px;
    }
    @media (min-width: 1200px){
    gap: 90px;
  }
  }

  > ul {

    display: flex;
    align-items: center;
    gap: 50px;
  }

  &__wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav {
    @media (max-width: 480px) {
      display: none;
    }
    display: block;
    ul {
      @media (max-width: 480px) {
        display: none;
      }
      width: 280px;
      margin: auto;
      display: flex;
      justify-content: space-around;
    }
  }

}
