.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: $background-color_2;
	top: 0;
	bottom: 0;
	display: none;
    
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 528px;
        height: 581px;
        border-radius: 4px;
        background: #fff;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        transform: translate(-50%, -50%);
        padding: 15px;
        
 
    
  
    &__close {
        position: absolute;
        top: 8px;
        right: 8px;
        border-radius: 100px;
        cursor: pointer;
        background-color: $background-color_1;
        border: 1px solid rgba(0, 0, 0, 0.1);
        &:hover {
            color: $color_1;
        }
    }
    &__title {
        color: $color_2;
        text-align: center;
        font-family: $font-family_1;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.6px;
        margin-top: 20px;
    }
    &__label {
        color: $color_3;
        font-family: $font-family_1;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.12px;
        margin-top: 10px;
    }
    input {
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        height: 29px;
        border: 1px solid #dcdcdc;
        outline: none;
        cursor: pointer;
        background-position: 0 50%;
    }
    &__textareal{
        display: block;
        gap: 28px;
        color: $color_7;
        font-family: $font-family_1;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.12px;
        width: 430px;
        height: 96px;
        resize: none;
        outline: none;
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        padding: 12px 16px 12px 16px;
        cursor: pointer;
        margin-top: 4px;
    }
     &__form {
        display: flex;
        align-items: flex-start;
        padding: 25px;
        flex-direction: column;
    } 
    &__check-form {
        width: 16px;
        height: 15px;
    }
      &__form-text {
        color: $color_3;
        font-family: $font-family_1;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
    }
    &__form-link {
        color: $color_1;
        font-family: $font-family_1;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
        text-decoration-line: underline;
    }
    &__form-check {
        display: flex;
        align-items: center;
        padding: 20px 20px 30px 20px;
    }
    &__btn-form {
        border-radius: 4px;
        background: #2196f3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: $color_5;
        text-align: center;
        font-family: $font-family_1;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.96px;
        width: 200px;
        height: 50px;
        cursor: pointer;
        border: 0;
        margin: 0 auto;
        display: block;
        align-self: center;
    }
   &__form-div {
        width: 448px;
        height: 31px;
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        padding: 11px 0 11px 12px;
        transition: 0.3;
        input {
            border: none;
            outline: none;
        }
        &:hover {
            border: 1px solid #188ce8;
            i {
                color: $color_6;
            }
        }
    }
    
}


    }
    .show{
        display: block;
        
      }
