.team {
	background-color: $background-color_1;
	padding: 94px 0;
	margin: 0;
    &__titel {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 0.03em;
            margin-top: 30px;
            color: $color_2;
    
            
        }
  &__item{
        background: #ffffff;
        padding-bottom: 30px;
        text-align: center;
        animation: fadeInLeft 4s;
        border-radius: 10px;
        box-sizing:border-box;
        box-shadow: -5px 5px 5px -5px rgba(0, 0, 0, 0.5);
        @media (min-width: 320px){
            max-width: 450px;
        }
        @media(min-width: 768px){
            max-width: 354px;
        }
    }
    &__items {
        list-style-type: none;
        text-decoration: none;
        margin: 0 auto 0;
        display: flex;
        justify-content: center;
        gap: 30px;
        align-items: center;
        flex-wrap: wrap;
        
    }
    .img {
        object-fit: cover;
        width: 100%;
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        padding: 10px 0;
        color: $color_3;
    }
    
    &__titel-titel {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $color_2;
        margin: 0 0 50px 0;
    }
    .sohcial {
        a {
            justify-content: center;
            align-items: center;
            display: flex;
            width: 44px;
            height: 44px;
            border-radius: 100%;
        }
    }
    
}